<div class="homePicContainer">
  <img
    src="https://img.freepik.com/free-photo/empty-flat-interrior-with-elements-decoration_1303-23910.jpg?w=1060&t=st=1707059098~exp=1707059698~hmac=e11b8be5c1019706ae96fdc700c0d8e14860acb48cc378ec0c17dd7c0faef484"
    alt="Ingatlan"
  />
</div>
<h1 class="text-center text-white">Á.L.B. Ingatlanügynökség</h1>

<div class="row mx-3 buttonContainer d-flex align-items-center">
  <div routerLink="offers" class="col-12 col-md-6 mb-2">
    <button class="btn btn-primary" type="button">
      Nézze meg kínálatunkat!
    </button>
  </div>
  <div routerLink="newad" class="col-12 col-md-6">
    <button class="btn btn-primary" type="button">Hirdessen nálunk!</button>
  </div>
</div>
