<h1 class="text-center">Ajánlataink</h1>

<table class="table">
  <thead>
    <tr class="align-middle text-center">
      <th *ngFor="let column of columns" scope="col">{{ column.text }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estate of estates" class="align-middle text-center">
      <ng-container *ngFor="let category of categories">
        <th *ngIf="category.key === estate.kategoriaid" scope="row">
          {{ category.megnevezes }}
        </th>
      </ng-container>
      <td>{{ estate.leiras }}</td>
      <td>{{ estate.hirdetesDatuma }}</td>
      <td [ngClass]="estate.tehermentes ? 'text-success' : 'text-danger'">
        {{ estate.tehermentes ? "Igen" : "Nem" }}
      </td>
      <td>
        <img
          width="100px"
          height="100px"
          src="{{ estate.kepUrl }}"
          alt="Ingatlan"
        />
      </td>
    </tr>
  </tbody>
  <button routerLink="" class="btn btn-primary mt-3" type="button">
    Vissza
  </button>
</table>
